.messagesMsg, .enquiriesMsg
    border: 1px solid $white
    padding: 10px
    &__heading
        color: $purple
    &__sender
        color: $white
        font-size: 1.2rem
        
        &--name
            font-size: 1.2rem

.deleteMsg
    margin-top: 50px
    margin-bottom: 50px
    border-top: 1px solid $white
    color: $white
    &__info
        &--heading
            color: $red
        &--id
            font-size: 1rem
    &__btn
        background: $red
        border-color: $red
        &:hover
            background: $red
            border-color: $red
        &:disabled
            background: $red
            border-color: $red
            filter: grayscale(50%)
            &:hover
                font-size: 1rem

@media screen and ( max-width: 832px )
    .messagesMsg, .enquiriesMsg
        dcolor: blue
    
    .messages__list--item
        &:hover
            color: red
            .messagesMsg
                color: green